$color-white-background: #f9fcff;
$color-secondary-background: #ebeff6;
$color-white-gray: rgb(240, 240, 240);
$color-lightgray: lightgray;
$color-slategray: slategray;
$color-darkgray: #1e2b33;
$color-wine-red: #a4074d;

$border-color: #ebeff6;
$text-color: #1a2434;
